############################################################################
# XEM7350 - Xilinx constraints file
#
# Pin mappings for the XEM7350-K70T.  Use this as a template and comment out 
# the pins that are not used in your design.  (By default, map will fail
# if this file contains constraints for signals not in your design).
#
# Copyright (c) 2004-2013 Opal Kelly Incorporated
# $Rev: 6 $ $Date: 2014-05-02 08:45:29 -0700 (Fri, 02 May 2014) $
############################################################################
NET "okUH[0]" TNM_NET = "okHostClk";
TIMESPEC "TS_okHostClk" = PERIOD "okHostClk" 9.92 ns HIGH 50%;

NET "okUHU[*]" TNM = "okHostINOUT_grp";
TIMEGRP "okHostINOUT_grp" OFFSET = IN 2 ns VALID 4 ns BEFORE "okUH[0]" RISING;
TIMEGRP "okHostINOUT_grp" OFFSET = OUT 8 ns AFTER "okUH[0]" RISING;

NET "okHU[2]" TNM = "okHostOUT_grp";
NET "okHU[0]" TNM = "okHostOUT_grp";
NET "okHU[1]" TNM = "okHostOUT_grp";
TIMEGRP "okHostOUT_grp" OFFSET = OUT 8 ns AFTER "okUH[0]" RISING;

NET "okUH[4]"   TNM = "okHostIN_grp";
NET "okUH[3]"   TNM = "okHostIN_grp";
NET "okUH[2]"   TNM = "okHostIN_grp";
NET "okUH[1]"   TNM = "okHostIN_grp";
TIMEGRP "okHostIN_grp" OFFSET = IN 2 ns VALID 12 ns BEFORE "okUH[0]" RISING;

############################################################################
## System Clocks                                                        
############################################################################
NET "sys_clkp"       LOC=AC4      | IOSTANDARD=LVDS;
NET "sys_clkn"       LOC=AC3      | IOSTANDARD=LVDS;

NET "sys_clkp" TNM_NET = "okSysClk";
TIMESPEC "TS_okSysClk" = PERIOD "okSysClk" 5 ns HIGH 50%;

NET "GLOBAL_CLK" TNM_NET = "ui_clk";
TIMESPEC "TS_ui_clk" = PERIOD "ui_clk" 10 ns HIGH 50%;

############################################################################
## FrontPanel Host Interface
############################################################################
NET "okHU[0]"        LOC="F23"    | IOSTANDARD="LVCMOS18" | SLEW="FAST";
NET "okHU[1]"        LOC="H23"    | IOSTANDARD="LVCMOS18" | SLEW="FAST";
NET "okHU[2]"        LOC="J25"    | IOSTANDARD="LVCMOS18" | SLEW="FAST";

NET "okUH[0]"        LOC="F22"    | IOSTANDARD="LVCMOS18";
NET "okUH[1]"        LOC="G24"    | IOSTANDARD="LVCMOS18";
NET "okUH[2]"        LOC="J26"    | IOSTANDARD="LVCMOS18";
NET "okUH[3]"        LOC="G26"    | IOSTANDARD="LVCMOS18";
NET "okUH[4]"        LOC="C23"    | IOSTANDARD="LVCMOS18";

NET "okUHU<0>"       LOC="B21"    | IOSTANDARD="LVCMOS18" | SLEW="FAST";
NET "okUHU<1>"       LOC="C21"    | IOSTANDARD="LVCMOS18" | SLEW="FAST";
NET "okUHU<2>"       LOC="E22"    | IOSTANDARD="LVCMOS18" | SLEW="FAST";
NET "okUHU<3>"       LOC="A20"    | IOSTANDARD="LVCMOS18" | SLEW="FAST";
NET "okUHU<4>"       LOC="B20"    | IOSTANDARD="LVCMOS18" | SLEW="FAST";
NET "okUHU<5>"       LOC="C22"    | IOSTANDARD="LVCMOS18" | SLEW="FAST";
NET "okUHU<6>"       LOC="D21"    | IOSTANDARD="LVCMOS18" | SLEW="FAST";
NET "okUHU<7>"       LOC="C24"    | IOSTANDARD="LVCMOS18" | SLEW="FAST";
NET "okUHU<8>"       LOC="C26"    | IOSTANDARD="LVCMOS18" | SLEW="FAST";
NET "okUHU<9>"       LOC="D26"    | IOSTANDARD="LVCMOS18" | SLEW="FAST";
NET "okUHU<10>"      LOC="A24"    | IOSTANDARD="LVCMOS18" | SLEW="FAST";
NET "okUHU<11>"      LOC="A23"    | IOSTANDARD="LVCMOS18" | SLEW="FAST";
NET "okUHU<12>"      LOC="A22"    | IOSTANDARD="LVCMOS18" | SLEW="FAST";
NET "okUHU<13>"      LOC="B22"    | IOSTANDARD="LVCMOS18" | SLEW="FAST";
NET "okUHU<14>"      LOC="A25"    | IOSTANDARD="LVCMOS18" | SLEW="FAST";
NET "okUHU<15>"      LOC="B24"    | IOSTANDARD="LVCMOS18" | SLEW="FAST";
NET "okUHU<16>"      LOC="G21"    | IOSTANDARD="LVCMOS18" | SLEW="FAST";
NET "okUHU<17>"      LOC="E23"    | IOSTANDARD="LVCMOS18" | SLEW="FAST";
NET "okUHU<18>"      LOC="E21"    | IOSTANDARD="LVCMOS18" | SLEW="FAST";
NET "okUHU<19>"      LOC="H22"    | IOSTANDARD="LVCMOS18" | SLEW="FAST";
NET "okUHU<20>"      LOC="D23"    | IOSTANDARD="LVCMOS18" | SLEW="FAST";
NET "okUHU<21>"      LOC="J21"    | IOSTANDARD="LVCMOS18" | SLEW="FAST";
NET "okUHU<22>"      LOC="K22"    | IOSTANDARD="LVCMOS18" | SLEW="FAST";
NET "okUHU<23>"      LOC="D24"    | IOSTANDARD="LVCMOS18" | SLEW="FAST";
NET "okUHU<24>"      LOC="K23"    | IOSTANDARD="LVCMOS18" | SLEW="FAST";
NET "okUHU<25>"      LOC="H24"    | IOSTANDARD="LVCMOS18" | SLEW="FAST";
NET "okUHU<26>"      LOC="F24"    | IOSTANDARD="LVCMOS18" | SLEW="FAST";
NET "okUHU<27>"      LOC="D25"    | IOSTANDARD="LVCMOS18" | SLEW="FAST";
NET "okUHU<28>"      LOC="J24"    | IOSTANDARD="LVCMOS18" | SLEW="FAST";
NET "okUHU<29>"      LOC="B26"    | IOSTANDARD="LVCMOS18" | SLEW="FAST";
NET "okUHU<30>"      LOC="H26"    | IOSTANDARD="LVCMOS18" | SLEW="FAST";
NET "okUHU<31>"      LOC="E26"    | IOSTANDARD="LVCMOS18" | SLEW="FAST";

NET "okAA"           LOC="R26"    | IOSTANDARD="LVCMOS33";

############################################################################
## Peripherals
############################################################################

# LEDs #####################################################################
NET "led<0>"           LOC="T24" | IOSTANDARD="LVCMOS33";
NET "led<1>"           LOC="T25" | IOSTANDARD="LVCMOS33";
NET "led<2>"           LOC="R25" | IOSTANDARD="LVCMOS33";
NET "led<3>"           LOC="P26" | IOSTANDARD="LVCMOS33";